﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<div>
    @using (Html.BeginForm("scan", "home", FormMethod.Post))
    {
        <input type="text" id="website" name="website"/>
        <input type="submit" value="gönder"/>
    }
</div>
</body>
</html>
